version: '2'

networks:
  default-network:
    driver: bridge

services:
  app:
    build:
      dockerfile: deployment/local/app/Dockerfile
      context: .
    volumes:
      - .:/usr/src/app
    env_file:
      - .env
    ports:
      - "${APP_PORT}:3000"
    container_name: chat_api_app
    depends_on:
      - mongo
    networks:
      - default-network

  mongo:
    image: mongo
    ports:
      - "${DOCKER_MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - ./persistent_data/mongo:/data/db
      - ./deployment/local/mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js
    networks:
      - default-network