swagger: "2.0"
info:
  title: "Chat API"
  description: "Docs for Chat API"
  version: "1.0.0"
schemes:
  - "http"
host: 127.0.0.1:3000
basePath: /api

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

paths:

  /v1/auth/random-user:
    post:
      tags:
        - auth
      summary: Create random user
      description: Create random user without username and password
      produces:
        - application/json
      responses:
        200:
          description: Successful operation
          schema:
            $ref: "#/definitions/RandomUserResponseModel"

  /v1/auth/register:
    post:
      tags:
        - auth
      summary: Register user
      description: Register user by username and password
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: RegisterRequestBody
          in: body
          description: Register request body
          required: true
          schema:
            $ref: "#/definitions/RegisterRequestModel"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: "#/definitions/RegisterResponseModel"
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ValidationErrorResponseModel"

  /v1/auth/login:
    post:
      tags:
        - auth
      summary: Login user
      description: Login user by username and password
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - name: LoginRequestBody
          in: body
          description: Login request body
          required: true
          schema:
            $ref: "#/definitions/LoginRequestModel"
      responses:
        200:
          description: Successful operation
          schema:
            $ref: "#/definitions/LoginResponseModel"
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ValidationErrorResponseModel"

  /v1/account/chats:
    post:
      tags:
        - chats
      security:
        - bearerAuth: [ ]
      summary: Create chat
      description: Create chat with current user as owner
      produces:
        - application/json
      consumes:
        - application/json
      parameters:
        - in: query
          name: Authorization
          required: true
          type: string
        - name: CreateChatBody
          in: body
          description: Create chat request body
          required: true
          schema:
            $ref: "#/definitions/CreateChatRequestModel"
      responses:
        201:
          description: Successful operation
          schema:
            $ref: "#/definitions/CreateChatResponseModel"
        400:
          description: Bad request
          schema:
            $ref: "#/definitions/ValidationErrorResponseModel"

definitions:

  # Common models

  SimpleSuccessResponseModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string

  ValidationErrorResponseModel:
    type: object
    properties:
      errors:
        type: array
        items:
          $ref: "#/definitions/ValidationErrorItemResponseModel"

  ValidationErrorItemResponseModel:
    type: object
    properties:
      fieldName:
        type: string
      errors:
        type: array
        items:
          type: string

  # Generate random user request

  RandomUserResponseModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      token:
        type: string

  # Register user request

  RegisterRequestModel:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
      password:
        type: string

  RegisterResponseModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      token:
        type: string

  # Login user request

  LoginRequestModel:
    type: object
    required:
      - username
      - password
    properties:
      username:
        type: string
      password:
        type: string

  LoginResponseModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      token:
        type: string

  # Create chat request

  CreateChatRequestModel:
    type: object
    required:
      - name
      - typeId
    properties:
      name:
        type: string
      typeId:
        type: integer

  CreateChatResponseModel:
    type: object
    properties:
      success:
        type: boolean
      message:
        type: string
      chatId:
        type: integer